.Section-Search {
  padding-top: 50px;
}

.search {
  width: 600px;
  height: 50px;
}

.searchType {
  width: 100px;
}

.Section-News {
  padding-top: 50px;
}

.NewsCard {
  width: 500px;
}

.Section-NewsCard {
  padding-top: 10px;
}

.index {
  padding-top: 100px;
}

.headText {
  font-size: 40px;
  font-weight: bold;
}
